@model USF_Health_MVC_EF.Models.IndividualSample

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SpIndividuals> spIndividualsSelected = ViewBag.ind_list_selected as List<SpIndividuals>;
}

    <div class="div_breadcrumb">
        Reports&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Individuals Batch Generation&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Create
    </div>

<div class="div_form">
    <form asp-action="Create" name="frmForm">

        <div class="div_text">
            Study ID (Selected for generation)
        </div>
        <div class="div_dropdownlist">
            <select id="cboStudiesSelected">
                <option value="" disabled selected>--Select Study ID--</option>

                @foreach (var item in spIndividualsSelected)
                {
                    <option value="@item.std_id">@item.std_id </option>

                }
            </select>
        </div>

        <div class="div_text">
            Date collected
        </div>
        <div class="div_input">
            <input asp-for="is_date_collected" type="date" value="" />
        </div>

        <div class="div_text">
            Sample details
        </div>
        <div class="div_textArea">
            <textarea asp-for="is_details" class="textArea" rows="5" cols="36" placeholder="Enter sample details"></textarea>
        </div>

        <div class="div_button" name="btnSubmit" id="btnSubmit">
            <input type="submit" value="Print" onsubmit="this.disabled = true;this.value='Submitting...';this.form.submit();" />
        </div>

    </form>
</div>

<div class="div_mainlink">
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    $('form').submit(function () {
        $(this).find('input[type=submit]').prop('disabled', true);
        return true;
    });

</script>