@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_Layout-Login.cshtml";
}

<div class="div_main_login_button">
    <a asp-area="AzureAD" asp-controller="Account" asp-action="SignIn"><img src="~/images/signin-microsoft.png" /></a>
</div>

<div class="div_transbox">
    <p>USF Health Web App</p>
</div>